@import "variables";

.main {
  background: $white;
}

.landing {
  &__banner {
    height: 68vh;
    width: 100%;
    margin-top: 140px;
    background-image: url(/images/general/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include media(mobile) {
      height: 400px;
      margin-top: 50px;
    }

    > .container {
      position: relative;
    }
  }

  &__cta-button {
    position: absolute;
    right: 16vw;
    top: 38vh;
    padding: 26px 72px;
    background-color: $yellow;
    color: $black;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid $black;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.15ms ease;

    @include media(mobile) {
      padding: 18px 54px;
      right: 30px;
      top: 250px;
      font-size: 14px;
    }

    &:hover {
      background-color: transparent;
      color: white;
      border-color: white;
    }
  }
}

.blockquote {
  padding-top: 80px;
  padding-bottom: 22px;
  display: flex;
  align-items: baseline;
  color: $black;
  border-bottom: 1px solid $black;

  @include media(mobile) {
    padding-top: 56px;
    padding-bottom: 16px;
    flex-direction: column;
  }

  &__text {
    font-weight: 400;
    letter-spacing: 1.6px;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;

    @include media(mobile) {
      font-size: 22px;
    }
  }

  &__author {
    margin-left: auto;
    color: $blue-grey;
    font-size: 22px;
    font-weight: 400;
    text-align: right;

    @include media(mobile) {
      font-size: 14px;
    }
  }
}

.section {
  padding: 82px 0 62px 0;

  @include media(mobile) {
    padding: 52px 0 32px 0;
  }

  &--first {
    margin-top: 20px;
  }

  &__title {
    font-size: 42px;
    font-weight: 500;
    color: $black;

    @include media(mobile) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 28px;
    line-height: 150%;

    @include media(mobile) {
      font-size: 18px;
    }
  }

  &__ruler {
    width: 24px;
    height: 4px;
    margin-top: 42px;
    background: $light-blue;
    border-radius: 4px;
  }

  &__blue {
    background: $light-blue;

    .section__title,
    .section__text {
      color: $white;
    }

    .section__ruler {
      background: $white;
    }
  }
}

.dps-sections {
  margin-top: 28px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, 1fr);
  gap: 20px;

  @include media(mobile) {
    display: block;
  }
}

.dps-section {
  margin-top: 0;

  @include media(mobile) {
    margin-top: 24px;
  }

  &__image {
    width: 100%;
    display: block;
    border-radius: 4px;
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__title {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 500;

    @include media(mobile) {
      font-size: 18px;
    }
  }
}
